table{

width:100%;

border-collapse:collapse;

background:white;

margin-top:20px;

box-shadow:0 4px 10px rgba(0,0,0,.1);

}

th{

background:#2e86de;

color:white;

padding:15px;

}

td{

padding:12px;

border-bottom:1px solid #ddd;

text-align:center;

}

tr:hover{

background:#f5f5f5;

}