<!DOCTYPE html>
<html>

<head>

    <title>Properties</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🏠 Property List</h1>

<a href="/">⬅ Back to Dashboard</a>

&nbsp;&nbsp;

<a href="/add_property">➕ Add Property</a>

<br><br>

<table border="1" cellpadding="10">

<tr>

<th>ID</th>
<th>Image</th>
<th>Type</th>
<th>City</th>
<th>Area</th>
<th>BHK</th>
<th>Price</th>
<th>Status</th>
<th>Action</th>

</tr>

{% for property in properties %}

<tr>

<td>{{ property.id }}</td>

<td>

{% if property.image %}

<img
src="{{ url_for('static', filename='uploads/' + property.image) }}"
width="120"
height="80"
style="border-radius:8px;">

{% else %}

No Image

{% endif %}

</td>

<td>{{ property.type }}</td>

<td>{{ property.city }}</td>

<td>{{ property.area }}</td>

<td>{{ property.bhk }}</td>

<td>₹{{ "{:,}".format(property.price) }}</td>

<td>{{ property.status }}</td>

<td>

<a href="/edit_property/{{ property.id }}">
✏ Edit
</a>

|

<a href="/delete_property/{{ property.id }}"
onclick="return confirm('Delete this property?')">

🗑 Delete

</a>

</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>